.continent {
	fill: #000000;
	stroke: #ffffff;
	stroke-width: 0.5;
	stroke-opacity: .4;
}

.circles {
	/* fill: #ccff40; */
	/* fill-opacity: .9; */
	stroke: #000000;
	stroke-width: 0.3;
	stroke-opacity: .1;
}

.labels {
	font-family: sans-serif;
	font-size: 11px;
	fill: #0a0909;
}
