#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}
#slider-div {
	width:640px;
	margin-left: auto;
    margin-right: auto;
    display: block;
    margin.bottom:50px;

}

#histo-div {
    margin-left: auto;
    margin-right: auto;
    display: block;
	width: auto;
	height: auto;

}

.hidden {
    display: inline-block;
    margin: 0 auto;
    fill: #272727;
 }

 .seen {
    display: inline-block;
    margin: 0 auto;
    fill: #b90000;
 }
 .ui-slider-horizontal {
    background:#000000;
    stroke: #da0000;
	stroke-width: 0.5;
	stroke-opacity: .4;
    data-theme: "b";
    data-track-theme = "a";
  }

  #chart-area{
    /*border: 4px solid #ccff40;*/
    background: #000000
    }

    .background {
        fill: none;
        pointer-events: all;
      }


.header {
    text-align: center;
}

  .filter-container {
      display: flex;
  }
  .filter {
      width: 33.33%;
      flex: 1 1 33.33%;
      margin-right: 20px;
  }
  .filter:last-child {
      margin-right: 0;
  }

.filter-controls {
    box-sizing:border-box;
    padding: 0 15px;
    width:100%;
    margin-right:auto;
    margin-bottom:10px;
}
.filter-controls label {
    display: block;
}

#duration-area {
    width: 100%;
}
.filter svg {
    width: 100%;
}

.chart-details-container {
    display: flex;
    margin-top: 20px;
}
#chart-area {
    background: black;
}
.chart {
    overflow: hidden;
  flex: 1 1 70%;
}
.details {
    background: black;
  flex: 1 1 30%;
}
#shape-select {
    width: 100%;
}
.icon-container {
    height: 130px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-icon] {
    display: none;
    height: 130px;
}
[data-icon].active {
    display: block;
}
[data-icon] svg {
    fill: white;
    
    height: 100px;
    margin-top: 30px;
}
